{
    ApplicationDescription = "An Objective-C IDE";
    ApplicationIcon = "apple-green.png";
    ApplicationName = Zcode;
    ApplicationRelease = 1.0;
    Authors = (
	"Ivan Vucica",
	"Jason Felice"
    );
    Copyright = "Copyright (C) 2010-11 Ivan Vucica and Jason Felice";
    CopyrightDescription = "Released under GNU Lesser General Public License v2.1 or later";
    FullVersionID = 1.0;
    NSExecutable = Zcode;
    NSIcon = "apple-green.png";
    NSMainNibFile = Zcode;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    NSTypes = (
	{
	    NSDocumentClass = ProjectDocument;
	    NSHumanReadableName = "Xcode Project";
	    NSIcon = "apple-green.png";
	    NSName = xcodeproj;
	    NSRole = Editor;
	    NSUnixExtensions = (
		xcodeproj
	    );
	}
    );
    URL = "http://ivan.vucica.net/zcode/";
}
